<h1>Pirate</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Height: <%= @pirate.height %></p>
<p>Pirate Weight <%= @pirate.weight %></p>

<h2>First Ship</h2>
  <p>First Ship Name: <%= @ships[0].name %></p>
  <p>First Type Name: <%= @ships[0].type %></p>
  <p>First Booty Name: <%= @ships[0].booty %></p>

<h2>Second Ship</h2>
  <p>Second Ship Name: <%= @ships[1].name %></p>
  <p>Second Type Name: <%= @ships[1].type %></p>
  <p>Second Booty Name: <%= @ships[1].booty %></p>
