<h1><%= @pirate.name %> <%= @pirate.weight %> <%= @pirate.height %></h1>


<h2><%= @ship_one.name %> <%= @ship_one.type %> <%= @ship_one.booty %></h2>


<h2><%= @ship_two.name %> <%= @ship_two.type %> <%= @ship_two.booty %></h2>
